html{
  background-color: black;
}
h1{
  text-transform: uppercase;
  font-size: 3rem;
}
#meme-container {
  width: 50%;
  margin-left: 25%;
  margin-top: 7%;
  text-align: center;
  color: white;
  font-family: "Libre Baskerville",serif;
}
.motivation-img{
  width: 100%;
  border: 5px solid white;
}